


body{
  background-color: rgba(69,70,70);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin:0 auto;
}

.central{
  position: relative;
  margin:0 auto;
  height: 70vh;
  width: 95%;
  background-color: black;
  box-shadow: 0 0 5px 1px lightgray;

}


.photos{
  margin:0 auto;
  height:100%;
}

.photos img{
  width: 100%;
  display: block;
  height: inherit;
}

/* created class for photo manupulation */
.newPhotos{
  transition: all 0.5 ease-in-out;
  opacity: 0.5;
}

.btns{
position: absolute;
top:50%;
left:50%;
transform: translate(-50% ,-50%);
width:100%;
display: flex;
justify-content: space-between;

}

.btns .fas{
  font-size: 35px;
  background: tomato;
  padding:5px;
  width: 30px;
  text-align: center;
  opacity:0.5;
  transition: all 0.5s ease-in-out;
}

.btns .fas:hover{
 opacity:1;

}

@media(min-width:664px){
.central{
  height: 70vh;
  width:600px;
}
}